@media (max-width: 375px) {
    * {
        box-sizing: border-box;
    }

    .container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .header {
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        background-color: #1d2126;
        padding: 15px 0;
        font-family: 'Open Sans', sans-serif;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 375px;

    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.3%;
        max-width: 58.3%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .menu li {
        text-align: center;
        margin-left: 5px;
    }

    .menu a {
        line-height: 15px;
        text-align: center;
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: #a4aead;

    }

    .home a {
        color: #23b7a3;
    }

    .form-search {
        border: #5a6068 2px solid;
        border-radius: 5px;
        width: 100px;
        height: 15px;
        display: none;
        visibility: hidden;

    }

    .search {
        display: none;

    }

    input[type=text] {

        border: none;
        width: 85px;
        background-color: transparent;
    }

    input[type=button] {
        background-color: transparent;
        border: none;
        flex-basis: 15px;
        background-image: url(Im/1.png);
        background-repeat: no-repeat;
        background-position: -12px -12px;

    }

    .main {
        background-image: url(Im/bi1.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;

    }

    .info {
        margin-left: 10px;
        display: flex;
        padding: 10px 0;
        flex-direction: column;
        justify-content: center;
    }

    .tittle {
        font-family: 'Quattrocento Sans', sans-serif;
        color: black;
        font-size: 25px;
    }

    .article {
        font-family: 'Open Sans', sans-serif;
        font-size: 5px;
        color: #ccd0d7;
        font-weight: lighter;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .but {
        display: flex;
        flex-direction: row;

    }

    [class*="btn-"] {
        width: 125px;
        height: 45px;
        background-color: transparent;
        color: white;
        appearance: none;
        border: white 1px solid;
        border-radius: 5px;
        background: transparent;

    }

    [class*="btn-"]:hover {
        color: white;
        background-color: #23b7a4;
        border: none
    }

    .btn-1 {
        margin-right: 8px;
    }

}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

}

.header {
    background-color: #1d2126;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
}

[class*="col-md"] {
    padding-right: 10px;
    padding-left: 10px;

}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-md-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}



.logo img {
    margin-top: 5px;
    width: 100px;
    height: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu li {
    text-align: center;
    margin-left: 10px;
    width: 85px;
    height: 30px;
}

.menu a {
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    color: #a4aead;

}

.menu li:hover {
    border: 2px solid #5a6068;
    border-radius: 5px;

}

.menu a:hover {
    color: #5a6068;
}

.home {
    border: 2px solid #23b7a3;
    border-radius: 5px;

}

.home a {
    color: #23b7a3;
}

.form-search {
    border: #5a6068 2px solid;
    border-radius: 5px;
    width: 195px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    justify-content: flex-end;
}

input[type=text] {

    border: none;
    width: 155px;
    background-color: transparent;
}

input[type=button] {
    background-color: transparent;
    border: none;
    flex-basis: 25px;
    background-image: url(Im/1.png);
    background-repeat: no-repeat;
    background-position: -12px -12px;

}

.main {
    background-image: url(Im/bi1.png);
    height: 655px;
    background-repeat: no-repeat;
    background-position: 0px 0px;

}

.info {
    display: flex;
    padding: 25px 0;
    height: 655px;
    flex-direction: column;
    justify-content: center;
}

.tittle {
    font-family: 'Quattrocento Sans', sans-serif;
    color: white;
    font-size: 36px;
}

.article {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ccd0d7;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
}

.but {
    display: flex;
    flex-direction: row;

}

[class*="btn-"] {
    width: 125px;
    height: 45px;
    background-color: transparent;
    color: white;
    appearance: none;
    border: white 1px solid;
    border-radius: 5px;
    background: transparent;

}

[class*="btn-"]:hover {
    color: white;
    background-color: #23b7a4;
    border: none
}

.btn-1 {
    margin-right: 8px;
}